/* Element Menu */

.menu-container {
	background-color: #343541;
	display: flex;
	justify-content: center;
	border-bottom: solid;
}

.menu-container button {
	background-color: #444645;
	color: #FFFF;
	margin: 10px;
	font-size: 16px;
	border-radius: 4px;
}

.new-note:hover {
	background-color: gray;
}

/* draggable component */

.drag-bar {
	background-color: #343541;
	color: #FFF;
	display: flex;
	justify-content: center;
	width: 100%;
	border-bottom: solid;
	border-color: black;
	cursor: move;
}

.draggable-component {
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 100px;
	height: 100px;
	border: 2px solid black;
}

.draggable-component-content-active {
	height: 100%;
	background-color: #40414F;
	color: #FFFF;
}

.draggable-component-content-disabled {
	background-color: #343541;
	color: #FFFF;
	pointer-events: none;
	cursor: not-allowed;
	height: 100%;
}


.draggable-component-footer {
	background-color: #343541;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: solid;
}

.draggable-component-footer button {
	background-color: #444645;
	color: #FFFF;
	margin: 5px;
	font-size: 16px;
	border-radius: 4px;
}


.draggable-component-footer button:hover:not(:disabled) {
	background-color: gray;
}

/* Drop Zone */

.drop-zone {
	background-color: #444645;
	height: 100vh;
	width: 100%;
	position: relative;
}